.fade-bg {
    background: linear-gradient(to right, #1c4d4f, #156b6e, #286e6b, #078b77, #09a197);
}

.fade-vertical {
    background: linear-gradient(to bottom, #1c4d4f, #156b6e, #286e6b, #078b77, #09a197);
}

.dropdown-item:hover {
    background-color: whitesmoke !important;
    color: #286e6b !important;
}

@media screen and (max-width:991px) {
    .dropdown-item:hover {

        background-color: whitesmoke !important;
        color: #286e6b !important;
    }
}

.ticket {
    background: linear-gradient(to right, #1c4d4f, #156b6e, #286e6b, #078b77, #09a197);
    color: whitesmoke;
    transition: transform 0.3s ease;
}

.ticket:hover {
    transform: translateX(+10px);
    color: white;
}

footer {
    background: linear-gradient(to right, #1c4d4f, #156b6e, #286e6b, #078b77, #09a197);
    position: sticky;
}
.btn-outline-success{
    background-color: #286e6b;
    color: whitesmoke;
}