body{
    background-image: url(images/background\ picture.jpg);
   backface-visibility: visible;
    background-repeat:no-repeat;
    background-size: cover;

}
/* nav bar */
.fade-bg {
    background: linear-gradient(to right, #1c4d4f, #1c4d4f, #156b6e, #286e6b , #078b77, #09a197);
}

.fade-vertical {
    background: linear-gradient(to bottom, #1c4d4f, #156b6e, #286e6b, #078b77, #09a197);
}

.dropdown-item:hover {
    background-color: whitesmoke !important;
    color: #286e6b !important;
}

@media screen and (max-width:991px) {
    .dropdown-item:hover {

        background-color: whitesmoke !important;
        color: #286e6b !important;
    }
}
.nav-link{
    font-family: cambria, roboto !important;
    transition: transform 0.3s ease;
}
.nav-link:hover{
    transform: translateX(+5px);
    color: #23ccd7 !important;
}
.btn-outline-success{
    background: linear-gradient(to bottom, #1c4d4f, #156b6e, #286e6b, #078b77, #09a197);
    color: whitesmoke;
    transition: transform 0.3s ease;
    font-family: cambria, roboto !important;
}
.btn-outline-success:hover{
    background: linear-gradient(to left, #1c4d4f, #1c4d4f, #286e6b, #078b77, #09a197);
    transform: translateX(-10px);
    color: #23ccd7;
}
section{
    background: linear-gradient(to right, #1c4d4f, #1c4d4f, #156b6e, #286e6b , #078b77, #09a197);   
}

/*  CONTACT FORM */
.error {
    border: 1px solid red;
  }

  .error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }

  .contact-section{
    background: linear-gradient(
        to right,
        rgba(28, 77, 79, 0.4),
        rgba(28, 77, 79, 0.4),
        rgba(21, 107, 110, 0.4),
        rgba(40, 110, 107, 0.4),
        rgba(7, 139, 119, 0.4),
        rgba(9, 161, 151, 0.4)
      );
   
  }
  
  /* .contact-section::before {
    content: '';
    background-image: url('images/bg.avif');
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
  } */

  .map-container {
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  iframe {
    width: 100%;
    height: 300px;
    border: 0;
  }








/* footer */
footer {
    background: linear-gradient(to right, #1c4d4f, #1c4d4f, #1c4d4f, #156b6e, #286e6b, #078b77, #09a197) !important;
    position: sticky;
}